p {color:rgb(221, 236, 231);}
#argentina-programa {color:rgb(228, 205, 222); margin-top: -70px; margin-left: 200px; margin-right: 830px; font-style:unset;}
body{background-image: url(imagenes/4MES.gif);}
#logo-arg-prog {margin-top: -15px;}
#contacto-facebook{margin-left: 1110px; margin-top: -480px;}
#contacto-wsp{margin-left: 1070px; margin-top: -43px;}
