
#banner{
	border-radius: 2%;
}
#argentina-programa {
	color:rgb(228, 205, 222);
	margin-bottom:  0px; 
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgba(96, 124, 177, 0.596);
	border-radius: 8%;
    margin-left: 200px;
	margin-top: -60px;
	margin-right: 855px;
}   
body{
	border-style:ridge;
	border-color: rgba(230, 230, 212, 0.65);
    border-bottom: 10px;
	border-width: 3px;
	background-image: url(imagenes/4MES.gif);
}
#logo-arg-prog{
	margin-top: -30px;

} 
#contacto-facebook{margin-left: 1110px; 
	margin-top: -470px;
}
#contacto-wsp{
	margin-left: 1070px; 
	margin-top: -43px;
}
#banner{
	border-radius: 2%;
	width: 1173px;
	height: 403px;
	background-color: rgb(233, 220, 220);
	}
    
 

